/* tag styles */
html {
    display: table;
    margin: auto;
}

body {
    width: 1000px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;   /* stretch image to fill the outer div */
}
/* ------------- */

/* header styles */
#header {
    display: flex;
    margin-top: 30px;
    height: 260px;
    margin-left: 40px;
    margin-right: 40px;
}

#logo {
    width: 250px;
    margin-right: 20px;
}

#welcomeBanner {
    width: 650px;
}
/* ------------- */

/* main body styles */
#mainContent {
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    height: 1020px;
}

#navigationMenu {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 975px;
    margin-right: 20px;
}

.menu {
    height: 60px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-size: 40px;
    background: #44eea7;
}

.menu:hover {
    color: red;
    background: #34ac7a;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 975px;
}
.product {
    position: relative;
    width: 180px;
    height: 210px;
    margin: 13px;
}

.product:hover {
    background: #c7c3c3;
}

.product:hover .overlay {
    background: #c7c3c3;
    opacity: 0.7;
}

.productImage {
    width: 170px;
    height: 170px;
    margin: auto;
    margin-top: 5px;
}

.overlay {
    position: absolute;
    top: 135px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  #c7c3c3;
    text-align: center;       /* puts text in centre of div */
    vertical-align: middle;   /* puts text in centre of div */
    line-height: 40px;
}

.productName {
    width: 180px;
    height: 30px;
    margin: auto;
    text-align: center;       /* puts text in centre of div */
    vertical-align: middle;   /* puts text in centre of div */
    line-height: 30px;        /* puts text in centre of div */
}

.imageLabel {
    font-size: 25px;
}
/* ------------- */

/* footer styles */
#footer {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    height: 140px;
}
/* ------------- */